 /* LESS Document */

@dark: #252525;
@white : #FFF;
@dark-blue : #0072b5;
@blue : #2383bb;
@light-blue : #3497da;
@i_blue :#2885cc;
@menu-blue : #076d91;
@turquoise : #6dc6de;
@text-color : #464646;
@yellow : #f2d13b;
@grey : #c1c1c1;
@dark-grey : #707070;
@none: none;
@rosario-rg:'rosarioregular';
@aller-bd:'allerbold';
@aller-regular:'allerregular';
@varela : 'Varela', sans-serif;
.transparent (@color,@alpha){
  @rgba: rgba(red(@color),green(@color),blue(@color),@alpha);
  @argb: argb(@rgba);
  background-color: @color;
  background-color: @rgba;
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
  -ms-filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{argb}, endColorstr=@{argb})";
}
/* GENERAL */
body { font-family:@rosario-rg; color:@text-color; max-width: 1090px; margin: 0 auto; background:#909090; }
/* Titles */
h1 {font-family:@aller-bd; font-size:40px; color:@white; line-height:53px; letter-spacing: 1px;}
h3 { font-size:25px; line-height:40px; letter-spacing: 1px;}
p {font-size:18px; font-family:@rosario-rg; line-height:30px}
ul, ul li {list-style-type:none; padding:0;}
a {text-decoration:none; color:@dark-grey}
a:hover, a:focus {text-decoration:none; color:@white}
.yellow {color: @yellow }
.white {color: @white }
.blue {color: #1e7cbb; }
.orange {color:#e8a135;}
.menu-blue { color:@menu-blue;}
.i_blue {color:@i_blue;}
/* */
.logo-top {position:absolute; top:16px; left:15px;}
.main-content {
	margin-left:50px;
	/*display:none;*/
}
/*footer { display:none;}*/
.relative {position:relative;}
.img-responsive {width:100%;}
.pad2 {padding: 3%;}
.pad10 {padding: 4% 10%; height:73px;}
.col-centered {
    display:inline-block;
    float:none;
 
}
/* BTN */
.btn-default { font-family:@rosario-rg; font-size:20px; color:@white; border:@none; border-radius:3px; margin:20px 0px; z-index:999; letter-spacing:1px; white-space: normal; padding: 16px 16px;}
.turquoise-btn { background-color:@turquoise}
.turquoise-btn:hover { background-color:#92d4e6; color:@white}
.light-blue-btn { background-color:@light-blue}
.light-blue-btn:hover { background-color:#67b1e3; color:@white}
.btn-lg { width:200px; }
.yellow-btn {  background-color:@yellow; color:@dark; padding:16px 25px}
.yellow-btn:hover {background-color:#f5dd6c;}

.blue-btn {  background-color:@i_blue; color:@white; padding:16px 25px}
.blue-btn:hover {background-color:#599fd5; color:@white; }

/* HEADER / NAV */
header {
	.navbar {
	background-color: @dark;
	width: 50px;
	position: fixed;
	height: 100%;
	border:@none;
	border-radius:0px;
	z-index:999;
	}
	.navbar-nav
	{ 
		li { height:50px; float:right; padding-right:2px;
	 		a { padding:12.5px 10px; background:@none !important; font-family:@rosario-rg; }
		}
		li:last-child { width:50px;}
		
		margin: 0px;
	}
	.navbar-collapse {
		border:none;
		box-shadow:none;
	padding:0px;
	}
	.navbar-brand {
	margin:10px;
	background-image:url(../img/logo-bar.jpg); background-size:cover;
	width:23px;
	height:30px;
	}
}
a.lang { font-size:16px; color:#f0efef !important;}
.grey-navbar-header {background-color:@grey !important}
.navbar-brand-hover {background-image:url(../img/logo-bar-grey.jpg) !important;}
/* */
/* Popout Menu */
.popout-menu { 
	width:269px;
	position:absolute;
	left:50px;
	top:0;
	color:@white;
	background-color:@dark;
	padding-bottom:25px;
	ul li { padding: 10px 20px 10px 20px;}
	.popout-menu-title { color:@menu-blue; font-size:21px;}
	}
.popout-menu .popout-menu-wrapper:last-child {height:1000px;}
.grey-logo {
	img {width: 170px;}
	
li {padding-top:0px !important; background-color:@grey !important; height:50px;}
}

.sub-menu a:hover li span.menu-icon, .sub-menu-active { background-position:0% 100%; color:@white}
.sub-menu { a {display: block;}
	.glyphicon { margin-right: 15px; font-size:20px; vertical-align: top; }
	font-size:15px; 
	}

span.menu-icon { width:20px; height:20px; display:inline-block; vertical-align: top; margin-right: 15px;}

.cog { background-image:url(../img/cog.png);}
.pie-chart { background-image:url(../img/pie-chart.png);}
.eye { background-image:url(../img/eye.png);}
.speach_bubble { background-image:url(../img/speach_bubble.png);}
.ribbon { background-image:url(../img/ribbon.png);}
.align { background-image:url(../img/align.png);}
.star { background-image:url(../img/star.png);}
.user { background-image:url(../img/user.png);}
.users { background-image:url(../img/users.png);}
.play { background-image:url(../img/play.png);}
.icon-text-left { background-image:url(../img/text-left.png);}
.pad { background-image:url(../img/pad.png);}
/* Homepage */
.panel { background-size:cover; background-attachment: fixed; margin-bottom:0; border:none; box-shadow: none;
border-radius: 0;}
#top-image { background-size:cover; background-attachment: fixed; margin-bottom:0; border:none; box-shadow: none;
border-radius: 0;}
.home-top {background-image:url(../img/fuji-home.jpg);}
.absolute-center-parent { position:absolute; top:50%; width: 100%;text-align: center; height:auto;}
a.tab:hover div, a.active-tab div {background-image:url(../img/light-grey-bg-rectangle.jpg); background-size:cover; border-bottom:solid 3px @dark-blue; padding-bottom: 0px; }
a.tab div {background-image:url(../img/grey-bg-rectangle.jpg); background-size:cover; border-bottom:solid 1px @dark-blue; padding-bottom: 2px;}
.tabiness {height:60px;}
.tabiness-wrapper{margin-top:30px; .btn {margin-top:10px;}}
.blue-ribbon {background-color:@blue; position:absolute; bottom:10%; color:@white; padding: 1% 2%; min-width:19.2%; text-align:right;}
.blue-ribbon h3 {
    margin: 15px 10px;
    font-family: "Varela",sans-serif;
	font-size:20px;
}

.domestic-travel-wrapper { font-family:@varela;

#travel-jp { padding-top:30px; padding-bottom:40px; background-image:url(../img/domestic-travel.jpg); background-size:cover; min-height: 425px; }
#hotel-jp { padding-top:30px; padding-bottom:40px; background-image:url(../img/hotel-jp-bg.jpg); background-size:cover; min-height: 425px; }
p { font-family:@varela; font-size:15px;}
}
#the-list { background-image:url(../img/travel-jp-banner.jpg); background-size:cover; min-height:362px;}
#flocations { background-image:url(../img/flocations-banner.jpg); background-size:cover; min-height:362px;}
#telunjuk { background-image:url(../img/telunjuk-banner.jpg); background-size:cover; min-height:362px;}
.right-social-networks {
	img {width:28px; margin:14px 7px 0px 5px;}
	position:absolute; top:0; right:0; z-index:999;
	}
.investment-wrapper h3 { margin-top:8%; margin-bottom:2%; line-height:40px;}
.domestic-travel-wrapper h3 {margin-top:20px; margin-bottom:20px;}
.visible {z-index:500}
.map { background-image:url(../img/grid.png); background-size:cover; margin-top: -22.85%; display: inline; display: block; }
.map img {margin-top: 29%; padding:5% 10% 5% 10%}
.japan-map, .asia-map, .japan-only-map {position:absolute; top:0; z-index: 499;width:100%;}
#map {line-height: 0px; border-bottom:#a5a5a5 thin solid }
.statistics  { background-image:url(../img/graph-bg.jpg); background-size:cover; padding-top: 30px;
padding-bottom: 50px;}
.cta  { background-image:url(../img/tablet-slide.jpg); background-size:cover; padding-top: 30px;
padding-bottom: 50px;
h3 { margin:40px 0px 30px 0px; font-size:20px;}}

.stats-logo img { width: 90%;
margin: 5%;}
#publicity {background-image:url(../img/lg-grey-bg.jpg); background-size:cover; padding-top: 30px;
padding-bottom: 50px;} 
#publicity {
	padding-top: 30px; padding-bottom: 50px;
	h2 { font-family:@aller-bd; margin-top:30px;}
	h3 { margin-bottom:50px;}
	p{margin-bottom:60px;}
	}
#publicity img { max-height:35px; width:auto; max-width:100%; margin: 15px 0px;}
.ceo-mission {
position:absolute; top: 8%; color:@white; .transparent(@light-blue, .8); padding:5%;
h1 {margin-bottom:0px;}
h2 { font-family:@aller-bd; margin: 10px 0px 30px 0px;}
}
#business-strategy {
padding:50px 0px;
z-index:799;
position: relative;
background: #e4e5e6 url(../img/ceo_grey_bg.jpg) no-repeat; background-size:contain;	
}
.ceo-font {font-size:18px; color:#282828 }

#business-strategy { h2 { font-family:@aller-bd; margin-top:30px;}
p{margin:30px 0px;}
}

#history { 

background-color:#f6f7f7;
.carousel-inner { height:470px; h2 {color:@light-blue}}
h2 { font-family:@aller-bd; margin-top:50px; margin-bottom:30px;}
p{margin:30px 0px;}
.carousel { padding-top:100px;}
.carousel-indicators {
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: 709;
    width: 60%;
    padding-left: 0px;
    margin-left: -30%;
    text-align: center;
    list-style: outside none none;
		li { background-color:@light-blue; border:@light-blue; margin:0px 6px; width: 12px; text-indent: 0;
height: 12px; }
		.active { background-color:@light-blue; border: solid 3px @dark; margin:0px 6px; width: 15px;
height: 15px;
span {color:@light-blue;} }
}
.carousel-indicators li span {
    display:block; 
	margin-top:-25px;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:@dark;
	-webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); //For IE support
}
.carousel-bar { width:168px;
height: 3px;
background-color: #3497DA;
position: absolute;
top: 49px;
left: 50%;
margin-left:-84px;
z-index: 509;
}
}

#business-alliances { color:@white; background-image:url(../img/blue-bg.jpg); background-size:cover; padding-top: 30px;
padding-bottom: 50px;
h2 { font-family:@aller-bd; margin-top:20px; margin-bottom:30px;}
}



#carousel-alliances {
	min-height:334px;
	background-image:url(../img/lg-grey-bg.jpg); background-size:cover; padding-top: 50px;
padding-bottom: 50px;
border-bottom:1px solid #025f9e;
img { height:78px;}
p {margin:20px 0px 45px 0px; font-size:15px;}
.carousel-indicators {
li {background-color:#545454; border:1px solid #545454;}
.active {background-color:#1e80c3; border:1px solid  #1e80c3; width:10px; height:10px; margin:1px}
}
}

.cta2  { background-image:url(../img/tokyo-banner.jpg); background-size:cover;
padding-bottom: 50px;
border-top:68px solid #1e80c3;
border-bottom:1px solid @white;
.col-md-10 {border-top:1px solid #025f9e; padding-top: 30px;}
h3 { margin:40px 0px 30px 0px;}}

#contact {
	background-color:#ebebeb;
	padding-bottom:50px;
	label, h2, .glyphicon {color:@i_blue;}
	.glyphicon {font-size:35px; margin-left:-15px;}
	p{ font-size:15px; line-height: 22px;}
	.adress {margin-top:40px; height: 40px;}
	h2 {font-family:@aller-bd; font-size:25px; margin:45px 0px 40px 0px;}
	input { border-radius: 5px; border:none; box-shadow:none; height:45px;}
	textarea { border-radius: 5px; border:none; box-shadow:none; height: 131px;}
	.btn-submit {width:180px; font-size:15px; height:45px; padding:6px 25px}
	}

#social { background-color:#f8f8f8; padding:50px 0px; border-bottom:1px solid #f7941d; border-top:1px solid #a1a1a1;

h2 {font-family:@aller-regular; font-size:25px; margin:11.75px 0px;} img { width:47px; margin-right:20px; } 
}

#plane { overflow:hidden;}
.plane { background-image:url(../img/plane-slide.jpg); background-size: cover; background-repeat:no-repeat;}
footer {
	background-color:#1f1f1f;
	padding: 60px 0px 50px 100px;
	ul li {display:inline-block; font-size:20px; vertical-align: bottom;}
	img {padding:0px 15px;}
	ul li a { padding: 30px 15px 0px; color:@white;}
	.logo-footer { height:62px}
	.menu-blue::after { content:"|"; }
	.menu-blue:last-child:after { content:""; }
	.menu-blue {a{ color:@menu-blue;} }
	}
.footer-social-networks {
	img {width:28px; height:28px; margin:14px 7px 0px 5px; padding:0;}
	position:absolute; top:20px; right:10px; z-index:999;
	}
	
iframe {border:none;}
/* GRAPH */
#canvas_StackedBar2 {padding-top: 25px; height:506px !important; width:760px !important;}
.graph-wrapper { width:100%; border-top:dashed thin #9ca7ab; border-bottom:dashed thin #9ca7ab; margin-top:70px; margin-bottom:30px;  }
.graph { position:relative;}
.graph-years {position:absolute; width: 100%; top: -40px; }
.graph-years span {
		position:absolute;
		font-size:15px;
		color:#9ca7ab;
		font-family:Arial, Helvetica, sans-serif;
			hr { border: 1px inset; margin-top: 35px;}
		}
.year-point { background: none repeat scroll 0% 0% #9ca7ab;border-radius: 50%;width: 7px;height: 7px;top: 36.4px;left: 40%; }
.first-year {left: 144px; hr { height: 360px;}}
.second-year {left: 270px; hr { height:320px}}
.third-year {left: 397px; hr { height: 263px;}}
.fourth-year {left: 523px; hr { height:187px}}
.fifth-year {left: 650px; 
	hr { height: 122px; color:#f2d13b !important;}
	.year-point { background: none repeat scroll 0% 0% #f2d13b !important; }
}
/* Contact Form*/
#contact .selectpicker {height: 45px; border:none; margin:0px;}
.caret { background:url(../img/icon-select.jpg) no-repeat; width:48.3px; height:45px; background-size: cover; }
.bootstrap-select.btn-group .btn .caret {
    position: absolute;
    top: 0;
    right: 0;
	margin-top:0;
	border:none;
}
.dropdown-menu { border:thin solid @i_blue; box-shadow:none;  padding:0;}
.dropdown-menu > li > a { background-color: @white; color:@i_blue; padding: 5px 15px;}
.dropdown-menu > li > a:hover { background-color: @i_blue; color:@white; padding: 5px 15px;}
.btn-info,.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info  {background-color:@i_blue;}

// RECRUIT PAGE
.panel h3 {font-size:20px; line-height: 30px; margin-top:50px; margin-bottom:50px}
.recruit-top {background-image:url(../img/recruit_1.jpg); color:@white}
#values {background-image:url(../img/recruit_2.jpg);  color:#012e4f !important; h1 {color:#012e4f}}
#panel_recruit_3 {background-image:url(../img/recruit_3.jpg);color:@white }
#panel_recruit_4 {background-image:url(../img/recruit_4.jpg);color:@white}
#panel_recruit_5 {background-image:url(../img/recruit_5.jpg);color:@white}
#panel_recruit_6 {background-image:url(../img/recruit_6.jpg);color:@white}
#panel_recruit_7 {background-image:url(../img/recruit_7.jpg);color:@white}
#panel_recruit_8 {background-image:url(../img/recruit_8.jpg);color:@white}
#panel_recruit_9 {background-image:url(../img/recruit_9.jpg);color:@white}
#panel_recruit_10 {background-image:url(../img/recruit_10.jpg);color:@white}
#work_at_vr {background-image:url(../img/recruit_11.jpg);color:@white; h1 {color:#0072bc}}
.stripe { color:@white; background-image:url(../img/dark_blue_bg.jpg); background-size:cover; padding-top: 15px;
padding-bottom: 30px; min-height:60px;
h2 { font-family:@aller-bd; margin-top:20px; margin-bottom:20px;}
}
.team_member { margin:10px 0px;height:100px; img { width:100px;} p { text-align:left;vertical-align: middle; margin-left: 10px;line-height:22px; i{color:#0375c1; font-size:15px;} display:inline-block;}}
.apply-btn {background-color:#0054a6;}
.apply-btn:hover {background-color:#407fbc; color:@white}
#application { color:@white; background-color:#0072bc; .col-sm-6 {padding: 50px; border: thin solid @white}.col-sm-6:first-child { border-right:0px} p{ height:100px; font-size:20px}}

// ABOUT PAGE
.about h3 { font-size:20px; line-height:28px} p, a.i_blue { font-size:15px;}
.about-top {background-image:url(../img/about_1.jpg); color:@white}
.grey-red-logo {background-color:#ebebeb; padding:3%;}
.grey-stripe { padding: 50px 0px;min-height:140px;background-color:#ebebeb; color: #282828; h1 { margin-top: 0px; margin-bottom: 0px;color: #282828; font-size:25px;} h4 { margin-top: 0px;font-size:15px; text-transform:uppercase; }}
.two-columns {background:@white; padding:50px 0px; font-size:15px; line-height:24px; .col-md-10:first-child { margin-top:0px}.col-md-10 { margin-top:50px} .row { padding:20px 0px; .col-md-4 { font-weight: bold} h4{font-weight:bold; margin:5px 0px;} i{ color:@i_blue}}}
.top-border { margin: 0px;border-top:thin solid #acacac; padding-top:40px; font-size:15px;}

.blockquote { padding: 50px 0px;background-color:@white; color: #282828; h1 { color: #282828; font-size:25px; margin-top:0px;} h4 { font-size:15px; text-transform:uppercase; margin-bottom:30px; }}
.lists {ul
	{padding: 30px 0px;
		li {list-style: none; padding:5px 0px;}
		li:before {
    		content: "·";
font-size: 60px;
vertical-align: top;
line-height: 11px;
margin-right: 15px;
		}
	}
	ol {padding: 30px 0px;counter-reset: item; list-style-type: none;
	li {padding:5px 0px;}
	li:before { 
	margin-right:20px;
    content: counter(item) "  "; 
    counter-increment: item;
	font-weight:bold}
	}
}
.table-responsive {padding: 50px 0px;}
.table-wrapper {background-color:@white; h1 { margin-top: 0px; margin-bottom: 0px;color: #282828; font-size:25px;} h4 { margin-top: 0px;font-size:15px; text-transform:uppercase; }}
.table-wrapper {
.table {margin-top: 30px;margin-bottom: 30px; h1{ font-family:@rosario-rg}}
.table tr th, .table tr td { padding:23px 20px !important;border:1px solid @white;}
.blue-tb-bg {background-color:#0072bc; color:@white; h1{color:@white;}}
.i-blue-bg {background-color:@i_blue; color:@white; h1{color:@white;}}
.grey-bg{background-color:#e1e1e1;}
.light-grey-bg{background-color:#ebebeb;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {border-top:0px}
.table > thead > tr > th {
    border-bottom: 0px
}
}

// MEDIA PAGE

.media-top {background-image:url(../img/media_top_image.jpg); color:@white}
.video-feed img {border: 7px solid @white }
.video-feed a {display: block; position:relative}
.video-feed .col-sm-3 a:last-child { margin-top:30px; }
.video_thumb_hover
{
  position: absolute;
  background-color: rgba(1, 42, 81, 0.8);
  width: 100%;
  height: 100%;
}
#news { padding-bottom:50px; background-color:@white; h2{ margin:60px 0px; font-family:@aller-bd;}}
.news-bloc { margin-bottom:30px; text-align:left; p{ height:212px; background-color:#ebe9e9; line-height:26px; font-family:@aller-bd; color:#2e73b7; padding:15px 8px; margin-bottom:0px;} a.read-more{font-style:italic; font-weight:bold; background-color:#e1e1e1; color:#2e73b7; display: block; height: 40px; line-height: 37px; padding: 0px 8px;} .date { text-transform:uppercase; color:@dark; font-family:@rosario-rg; display:block;}}
#press { color:@white; background-image:url(../img/blue-bg.jpg); background-size:cover; padding-top: 30px;
padding-bottom: 50px;
h2 { font-family:@aller-bd; margin-top:20px; margin-bottom:30px;}
}
#slide-press {
.carousel-indicators {bottom: 23%;
right: 10%;
width: 200px; left: auto;}
	.carousel-indicators li { background-color: #FFF;}
.carousel-indicators .active {
    background-color: #00b3fd;
	border-color:#00b3fd;
}
.item {color:@white; h2{ font-family:@aller-bd;
margin-top: 80px;
margin-bottom: 30px;
line-height: 50px;}
div { height:100%;} .btn { position:absolute; bottom:18%;}}
}

#november {background-image:url(../img/press_bg.jpg); background-size:cover;}
#timeline {
	margin-top: -40px;
	height: 60px;
	.col-md-12 {padding:0px}
	.table { height:60px;}
	.table tr {background-color:#ebebeb; border-bottom:solid thin @white;}
	.table tr td {padding:0; vertical-align: middle; border-left:solid thin @white; border-right:solid thin @white; border-top:none; min-width: 30px;}
	.table tr td a {height: 60px;display: inline-block;width: 100%; padding-top: 20px;}
	.table-responsive {padding-top: 0px; padding-bottom: 40px; border-bottom: #FFF solid thin;}
	.table tr td a:hover, .table tr td.active a {background-color:#acacac; color:@white;}
}
.year {border: 0px !important;padding-left: 5px !important; padding-right:5px !important;background-color:#3497da !important; color:@white; font-size:20px; font-family:@aller-bd;}
.arrow {border: 0px !important; border:none;line-height:0 !important; width:60px; height:60px;}
a.arrow-slide-left {line-height:0;background-image:url(../img/arrow-carousel.jpg); width:60px !important; height:60px; display:inline-block}
a.arrow-slide-left:hover {background-position:0% 100%}
a.arrow-slide-right{line-height:0;background-image:url(../img/arrow-carousel.jpg); background-position:100% 0%; width:60px !important; height:60px; display:inline-block}
a.arrow-slide-right:hover {background-position:100% 100%}

.video_thumb_hover img { width:20%; border:none; position:absolute; top:30%; right:40%;}
.video_thumb_hover span.thumbnail-title {position:absolute; bottom:0; background-color:#3497da; color:@white; width:100%; padding:10px;}
.video-desc {  background-color: rgba(0, 0, 0, 0.8); height:100%; width:100%; position:absolute; top:0;}

.video-desc-content { position:absolute; width:30%; height:150px; width:400px; top:50%; left:50%; margin-left:-200px; margin-top:-75px; img { width:20%; display:inline-block;} p{ vertical-align: middle;display:inline-block; margin-left:5%; width:70%; color:@white; line-height:24px; font-style:italic}}

.more-news { a:hover, a:focus, a:active { color:@i_blue;} font-size:18px; margin-top: 15px; img {width:30px; margin-right:10px;} } 

/* End Media Page */

/* MEDIA QUERIES */

/* Smartphones */
@media(max-width:480px) {
	.blue-ribbon h3 {
    margin: 3.75px 2.5px;
    font-family: "Varela",sans-serif;
	font-size:12px;
}
.pad10 {
    height: 50px;
}	
h1 {line-height: 40px; font-size:30px;}
#history .carousel-indicators { width:90%; left: 35%;}
#history .carousel-bar { width: 170px;
left: 50%;}
.graph-wrapper { padding:0}
.graph-years span {
    font-size: 10px;
}
#canvas_StackedBar2 {height:173.1px !important; width: 260px !important; font-size: 22px;}
.year-point {left: 38%;}
.graph {padding:0;}
.first-year {left: 43px; hr { height:120px !important}}
.second-year {left: 87px; hr { height: 109px !important;}}
.third-year {left: 131px; hr { height: 91px !important;}}
.fourth-year {left: 174px; hr { height: 67px !important;}}
.fifth-year {left: 217.5px; 
	hr { height: 47px !important;}
}
.footer-social-networks {
    top: 85%;
    right: 25%;
}
.panel, #top-image { background-position: 45% 0%;}
h3 {
	line-height:30px !important;
	font-size: 20px;
}
p {line-height: 24px;}
.btn-default {margin:10px 0px;}
.team_member img { width:70px;}
.map img {margin-top: 21%}
	}

/* Tablets */
@media(min-width : 481px) and (max-width : 767px) { 

.blue-ribbon h3 {
    margin: 7.5px 5px;
    font-family: "Varela",sans-serif;
	font-size:16px;
}

#canvas_StackedBar2 {height:239.7px !important; width: 360px !important;}
.graph {padding:0;}
.first-year {left: 59px; hr { height:164px !important}}
.second-year {left: 119.5px; hr { height: 144px !important;}}
.third-year {left: 180px; hr { height: 119px !important;}}
.fourth-year {left: 240px; hr { height:84px !important}}
.fifth-year {left: 300px; 
	hr { height: 55px !important;}
}
#history .carousel-inner {
    height: 595px;
}
.map img {margin-top: 26%}
}
/* Smartphones & Tablets */
@media(max-width : 767px) { 
.center-on-mobile { text-align:center; }
.ceo-mission { position:relative;}
#business-strategy {
background-image: none;	
}
footer { padding-left: 50px; ul li {display:block; text-align:center; a{ width:100%; display:block; padding: 15px 0px;} .logo-footer {
    margin-bottom: 20px;
}} }
footer .menu-blue:after {
    content: "";
}
.team_member { text-align:center}
.panel h3 {
    margin-top: 20px;
    margin-bottom: 20px;
	font-size:18px;
}
h2 {font-size: 18px;}
#application .col-sm-6:first-child {
    border: thin solid #FFF;
}
#timeline .table-responsive {
    border: 0px;
	padding-bottom: 0px;
}
.stats-logo img {
	width: 50%;
    margin: 15% 25%;
}
.table {margin:20px 0px;}
.blockquote {padding:0px; h1 {
    margin-top: 20px;
}}
.video-feed .col-sm-3 a:first-child { margin-top:30px; }
.news-bloc p {height: 280px;}
.video-desc-content {
    height: 250px;
    width: 200px;
    margin-left: -100px;
    margin-top: -125px;
	img {display:block;margin: auto;padding-bottom: 15px;} p{width: 100%; text-align:center; margin-left:0;}
}
#slide-press .carousel-indicators {
    bottom: 12%;
    width: 100%;
    margin: auto;
	right: auto;
}
#slide-press .item .btn {
    position: relative;
	bottom:auto;
}
#timeline {
   margin-top: 50px;
background-color: #EBEBEB;
padding-bottom: 120px;
 }
 #contact .adress {
    height: 80px;
}
#map iframe {height:200px}
footer {padding: 60px 0px 100px 50px;}
 }
/* Large screens */
@media (min-width: 992px) {
	.plane { background-size: 120%;}
	}


/* Mid */
@media(min-width : 767px) and (max-width : 992px) {
	.blue-ribbon h3 {
    margin: 7.5px 5px;
    font-family: "Varela",sans-serif;
	font-size:16px;
}
.ceo-mission { top: 4%; padding: 2%;}
footer { padding-left:50px;}
	.pad10 {
    height: 120px;
}
#timeline {
   margin-top: 50px;
background-color: #EBEBEB;
padding-bottom: 120px;
 }

#canvas_StackedBar2 {height:439.45px !important; width: 660px !important;}
.first-year {left: 123px; hr { height: 315px !important;}}
.second-year {left: 234px; hr { height:285px !important}}
.third-year {left: 343px; hr { height: 236px !important;}}
.fourth-year {left: 455px; hr { height:166px !important}}
.fifth-year {left: 564px; 
	hr { height: 110px !important; color:#f2d13b }
}

#history .carousel-inner {
    height: 700px;
}

}


