/* CSS Document */
.widget_archives_calendar {list-style-type:none;
padding-top: 0px;
padding-bottom: 50px;
border-bottom: #FFF solid thin;}
.calendar-archives.arw-theme1 {
    position: relative;
    width: 100%;
	border-bottom: #FFF solid thin;
}

.calendar-archives.arw-theme1 * {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}

.calendar-archives.arw-theme1 ul {
    margin: 0;
    padding: 0;
}

.calendar-archives.arw-theme1 a {
    text-decoration: none;
}

.calendar-archives.arw-theme1 .archives-years {
    position: relative;
overflow: hidden;
margin-left: 160px;
margin-right: 60px;
height: 60px;
}

.calendar-archives.arw-theme1 .calendar-navigation {
    height: 60px;
	width:100%;
background: #4e4e4e;
margin-bottom: 1px;
position: absolute;
}

.calendar-archives.arw-theme1 .calendar-navigation * {
    line-height: 30px;
}

.calendar-archives.arw-theme1 .calendar-navigation .prev-year,.calendar-archives.arw-theme1 .calendar-navigation .next-year {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    line-height: 100%;
}


.calendar-archives.arw-theme1 .calendar-navigation .prev-year {
    line-height: 0;
background-image: url(http://www.leger-romain.fr/venture-republic/img/arrow-carousel.jpg);
width: 60px !important;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year:hover {
    background-position: 0% 100%;
}

.calendar-archives.arw-theme1 .calendar-navigation .next-year {
    line-height: 0;
background-image: url(http://www.leger-romain.fr/venture-republic/img/arrow-carousel.jpg);
right: 0;
background-position: 100% 0%;
}
.calendar-archives.arw-theme1 .calendar-navigation .next-year:hover {
     background-position: 100% 100%;
}



.calendar-archives.arw-theme1 .calendar-navigation .menu-container.months {
    width: 160px;
    margin-left: -80px;
    text-transform: capitalize;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container:hover {
    background: #707070;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container a.title {
    display: block;
    width: 100%;
    color: #FFF;
	text-align:center;
	padding-top: 13px;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container {
    border: 0px !important;
padding-left: 5px !important;
padding-right: 5px !important;
background-color: #3497da !important;
color: #ffffff;
font-size: 20px;
font-family: 'allerbold';
height: 60px;
left: 60px;
position: absolute;
width: 100px;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .arrow-down {
    display:none
}


.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu {
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 999;
    top: 0;
    width: 100%;
    background: #fff;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a {
    display: block;
    color: #707070;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a:hover {
    background: #7e7e7e;
    color: #FFF;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a.selected {
    background: #7e7e7e;
    color: #FFF;
}

.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a.selected:hover {
    background: #7e7e7e !important;
    background: 0;
    text-decoration: none;
    cursor: default;
}

.calendar-archives.arw-theme1 .year {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    width: 100%;
    z-index: 0;
    background: #fff;
}

.calendar-archives.arw-theme1 .year .year-link {
    display: none;
}

.calendar-archives.arw-theme1 .year.last {
    position: relative;
}

.calendar-archives.arw-theme1 .year.current {
    margin-left: 0;
    z-index: 1;
}

.calendar-archives.arw-theme1 .month,.calendar-archives.arw-theme1 .day {
    float: left;
    overflow: hidden;
    display: block;
    position: relative;
    background: #f0f0f0;
    border-bottom: 1px #fff solid;
    border-right: 1px #fff solid;
    color: #ccc;
}
.widgettitle {display:none;}
.calendar-archives.arw-theme1 .month.has-posts a,.calendar-archives.arw-theme1 .day.has-posts a {
   background-color: #acacac;
color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
}
.calendar-archives.arw-theme1 .month.has-posts a span,.calendar-archives.arw-theme1 .day.has-posts a span {
color: #ffffff;
}

.calendar-archives.arw-theme1 .month.has-posts a:hover,.calendar-archives.arw-theme1 .day.has-posts a:hover {
    background: #4e4e4e;
}

.calendar-archives.arw-theme1 .month.last,.calendar-archives.arw-theme1 .day.last {
    border-right: 0!important;
}

.calendar-archives.arw-theme1 .month {
   padding: 0;
vertical-align: middle;
border-left: solid thin #ffffff;
border-right: solid thin #ffffff;
border-top: none;
min-width: 30px;
width: 8.33%;
}

.calendar-archives.arw-theme1 .month .month-name {
    height: 60px;
display: inline-block;
width: 100%;
padding-top: 20px;
text-align:center;
color: #707070;
}

.calendar-archives.arw-theme1 .month .postcount {
    display: block;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

.calendar-archives.arw-theme1 .month .postcount .count-text {
    font-size: 9px;
}

.calendar-archives.arw-theme1 .day {
    text-align: center;
    width: 14.28571428571429%!important;
    line-height: 100%;
    padding: 5px 0;
}

.calendar-archives.arw-theme1 .day.has-posts {
    padding: 0;
}

.calendar-archives.arw-theme1 .day.has-posts a {
    padding: 5px 0!important;
    text-decoration: none;
}

.calendar-archives.arw-theme1 .day.noday {
    background: none!important;
    box-shadow: none;
    border: 0;
}

.calendar-archives.arw-theme1 .day.weekday {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    background-color: #7e7e7e;
    color: #fff;
    font-size: 85%;
}

.calendar-archives.arw-theme1 .week-row {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.calendar-archives.arw-theme1 .week-row.weekdays {
    margin-bottom: 0;
}

.settings_page_archives_calendar #TB_ajaxContent {
    background-color: #fff;
}

/* Smartphones & Tablets */
@media (max-width: 767px) {

.calendar-archives.arw-theme1 .year {
position: relative;
top: 0;
left: 0;
height: 60px;
margin-left: -100%;
z-index: 0;
background: #fff;
min-width: 150%;
}
.archives-years .last {
	margin-left: -150% !important;
}

.calendar-archives.arw-theme1 .archives-years {
overflow-x: scroll;
margin-left: 160px;
margin-right: 60px;
height: 60px;
}

}